<div class="{{ grid_item_width }}">
  {{ current_product.handle }}====
  <div class="product-img">
    <a href="{{ product.url }}">{{ product.featured_image | img_url:'master' | img_tag }}</a>
    <div class="quick-shop">
      <a href="{{product.url | within: collection }}" class="quick-btn">+ Quick Shop</a>
      <div class="quick-sizes">
        {%- for option in product.options_with_values -%}
        {%- if option.name=='Size' -%}
        {%- for option_val in option.values -%}
        <a href="#">{{ option_val }}</a>
        {%- endfor -%}
        {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
  <h2 class="product-meta">
    <span class="product-title"><a href="{{ product.url }}">{{ product.title }}</a><span class="price">{{ product.price | money }}</span></span>
    {%- for option in product.options_with_values -%}
    {% assign color_cnt = 0 %}
    {%- if option.name=='Color' -%}
    {% assign color_cnt = option.values | size %}
    {%- endif -%}
    {%- endfor -%}
    {%- if color_cnt > 0 -%}
    <span class="product-conf">{{ color_cnt }} Colors Available</span>
    {%- else -%}
    <span class="product-conf">Colors Not avalable</span>
    {%- endif -%}
  </h2>
</div>